 /* CreateBell  page */
 
 .button-div {
  margin-top: 10px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
 }

 .btn-impromptu-bell {
   margin-top: 10px;
   /* margin-right: 2em; */
 }

 .image-div {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
}


 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  height: 45vh;
  margin-bottom: 5%;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered .intro-text {
  font-size: 3em;
}

.centered .sub-text {
  font-size: 1.5em;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-text {
  color: rgb(114, 75, 75)
}

.create-bell-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-section {
  display: flex;
  align-items: center;
  justify-content: center;
  
}



.action-icons {
  float: right;
  margin-top: 1.5em;
}

.btn-save {
  float: left;
  margin-top: 1.5em;
}

.view-bells-container {
  margin-bottom: 5em;
}

.btn-view-bells {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .root {
    width: 100%;
    
  }

  .container-impromptu {
    margin: 10% 30% 20% 30%;
  }

  .view-bells-container {
    margin: 10% 30% 20% 30%;

  }
}