 /* CreateBell  page */
 
 .button-div {
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
 }

 .btn-impromptu-bell {
   margin-top: 10px;
 }

 .image-div {
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
}


 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
  height: 60vh;
  margin-bottom: 5%;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered .intro-text {
  font-size: 3em;
}

.centered .sub-text {
  font-size: 1.5em;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}